# Node modules
node_modules/

# Env files
.env
.env.*
.env.local

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

